<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" name="datafile">
        <input type="button" id = "button" onclick=train() value = "Train!">
    </form>
</body>
</html>

<script type="text/javascript" src='/static-files/jquery-3.3.1.min.js'></script>
<!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script type="text/javascript" >
    function train() {
        alert('ck');
        $.post('/api/train', {sb: '1'}, function() {
            alert('SB');
        });
        alert('ck2');
    }
</script>

