<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<div class="title">
    <h1>Welcome to use our AI Demo</h1>
</div>
<div class="container">
    <img id="preview" src=""/><br/>
    <form action="" enctype='multipart/form-data' method="post" id="form1" target="nm_iframe">
        <input type="file" id="selectImg" name="testfile" >
        <br/>
        <br/>
        <input type="button" id="test_btn" onclick=test() value="Test!"/>
        <input type="button" id="reset_btn" onclick=reset() value="Reset"/>
    </form>

    <iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
    <br/>
    <br/>
    <span id="test_status">预测结果：未预测</span>
</div>
</body>
</html>

<script type="text/javascript" src='/static-files/jquery-3.3.1.min.js'></script>
<!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script type="text/javascript">
    function reset() {
        alert('sb');
       // window.location.reload();
    }
    function test() {
        $.post('/api/test', {}, function (result, status) {
            //alert(result);
            $('#test_status').html('预测结果：'+ result);
        });
    }

    // function readImg() {
    //     var imgFile = document.getElementById('imgsrc').files[0];
    //     var fileReader = new FileReader();
    //     fileReader.onload
    //     {
    //         document.getElementById('image1').src = fileReader.result;
    //     }
    //     fileReader.readAsDataURL(imgFile);
    // }
    document.getElementById('selectImg').addEventListener('change',()=>{
        const file = document.getElementById('selectImg');
        const fileObj = file.files[0];
        const windowURL = window.URL || window.webkitURL;
        const img = document.getElementById('preview');

        if(file && fileObj) {
            const dataURl = windowURL.createObjectURL(fileObj);
            img.setAttribute('src',dataURl);
        }
    },false)
</script>
