<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<div class="title">
    <h1>Welcome to use our AI Demo</h1>
</div>
<div class="container">
    <img id="preview" src=""/><br/>
    <form action="/api/img_predict" enctype='multipart/form-data' method="POST" id="form2" target="nm_iframe">
        <input type="file" id="selectImg" name="testfile" >
        <br/>
        <br/>
        <input type="submit" id="test_btn" value="Test!"/>
        <input type="button" id="reset_btn" onclick=Reset() value="Reset"/>
    </form>
    <iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>

    <br/>
    <br/>
    <span id="test_status">预测结果：未预测</span>
</div>
</body>
</html>

<script type="text/javascript" src='/static-files/jquery-3.3.1.min.js'></script>
<script type="text/javascript" src='/static-files/jquery.form.js'></script>
<!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script type="text/javascript">
    function Reset() {
        window.location.reload();
    }
    $(function(){
        /** 验证文件是否导入成功  */
        $("#form2").ajaxForm(function(label){
            var obj = JSON.parse(label);
            $('#test_status').html('预测结果：'+ obj.result);
        });
    });
</script>
